#sidebar {
  background-color: rgb(233, 233, 233);
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
#link {
  text-transform: capitalize;
  color: rgb(65, 65, 65);
  padding: 3px;
  border-radius: 5px;
}
@media only screen and (max-width: 500px) {
  #sidebar {
    display: none;
  }
}