:root {
  --font-family: "Open Sans", Arial, sans-serif;
  --lightText: rgb(219, 190, 157);
  --darkText: rgb(33, 37, 41);
}
#description {
  text-align: center;
  font-family: var(--font-family);
  color: var(--darkText);
}
.cardTitle {
  font-family: var(--font-family);
  color: var(--lightText);
  text-align: center;
  padding: 8px 4px;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}
.cardRow {
  padding: 8px;
  border-radius: 5px;
}
.cardBody {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardLink {
  font-family: var(--font-family);
  color: white;
  text-decoration: none;
  word-wrap: normal;
}
.cardLink:hover {
  color: var(--lightText);
}
.getQuote {
  display: flex;
  justify-content: center;
  width: auto;
  margin: 0 auto 2rem auto;
}