#container {
  background-image: url("/img/graySiding.jpg");
  background-size: cover;
  width: 100%;
  padding-top: 104px;
}
#header {
  max-width: 80%;
  margin: 0 auto 0 auto;
  padding-top: 2%;
  color: white;
  text-align: center;
}
#h1 {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 2rem;
  color: rgb(210, 180, 140);
  text-shadow: -1px -1px 0 rgb(4, 83, 4),
               1px -1px 0 rgb(4, 83, 4),
               -1px 1px 0 rgb(4, 83, 4),
               1px 1px 0 rgb(4, 83, 4);
}
.productHeader {
  margin: 0;
  text-align: center;
}
#productImg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 80%;
  justify-content: space-evenly;
  align-items: center;
  margin: 2% auto;
}
.productImg {
  border: 3px solid rgb(240, 240, 240);
  box-shadow: 5px 5px 8px rgb(71, 71, 71);
  max-height: 375px;
  margin-bottom: 20px;
}
#logoDescription {
  /* display: flex;
  flex-direction: column; */
  padding: 15px 0;
  max-width: 80%;
  margin: 0 auto 20px;
  background-color: rgb(4, 83, 4);
  border: 3px solid rgb(240, 240, 240);
  box-shadow: 5px 5px 8px rgb(71, 71, 71);
}
.p {
  text-align: center;
  color: rgb(210, 180, 140);
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}
.pDiscription {
  font-size: 1.3rem;
  text-align: left;
  margin-left: 10%;
}
.getQuote {
  display: flex;
  justify-content: center;
  width: auto;
  margin: 0 auto 10px auto;
}
#products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  max-width: 80%;
  padding-bottom: 2%;
}
.img {
  border: 3px solid rgb(240, 240, 240);
  box-shadow: 4px 4px 8px rgb(71, 71, 71);
  /* border-radius: 5px; */
  background-color: rgb(240, 240, 240);
  /* padding: 5px; */
}
.h3 {
  color: black;
  font-weight: bolder;
  background-color: rgb(252, 252, 252);
  border: 3px solid rgb(240, 240, 240);
  padding: 5px;
  /* border-radius: 5px; */
}
#logoDiv {
  margin: 5px;
}
img {
  max-width: 400px;
}
@media only screen and (max-width: 800px) {
  .productImg {
    max-width: 300px;
    max-height: 200px;
    padding: 3px 0 3px 0;
  }
  #logoDescription {
    padding: 0 3px;
  }
  .p {
    font-size: 1rem;
  }
  .pDiscription {
    margin-left: 2%;
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 400px) {
  .productImg {
    max-width: 95%;
    padding: 2px 0 2px 0;
  }
}