:root {
  --font-family: "Open Sans", Arial, sans-serif;
  --lightText: rgb(219, 190, 157);
  --darkText: rgb(33, 37, 41);
}
.about {
  font-family: var(--font-family);
  text-align: center;
  color: var(--darkText);
}
.cardTitle, .cardSubtitle {
  color: var(--lightText);
  font-family: var(--font-family);
}
.cardTitle {
  font-size: 2rem;
}
.cardSubtitle {
  font-weight: lighter;
}
.links {
  padding: 16px 0 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.cardLink {
  font-size: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.25rem;
  height: 3.25rem;
  border: 2px solid var(--lightText);
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;
  transition: .2s;
}
.cardLink:hover {
  background-color: var(--lightText);
}
.icon {
  color: var(--lightText);
  transition: .2s;
}
.cardLink:hover .icon {
  color: var(--darkText);
}