:root {
  --font-family: "Open Sans", Arial, sans-serif;
  --lightText: rgb(219, 190, 157);
  --darkText: rgb(33, 37, 41);
  --darkText-muted: rgb(33, 37, 41, .7);
}
.about {
  font-family: var(--font-family);
  text-align: center;
  color: var(--darkText);
}
.cardTitle, .cardSubtitle, .links {
  font-family: var(--font-family);
  font-weight: lighter;
}
.cardTitle {
  color: var(--darkText);
  font-size: 2rem;
}
.cardSubtitle {
  color: var(--darkText-muted);
  margin-bottom: 4px;
}
.cardButton {
  margin: 8px;
}
.cardButton:hover .cardLink {
  color: var(--lightText);
}
.cardLink {
  color: var(--darkText);
  display: inline-block;
  min-width: 40px;
  text-decoration: none;
}