#intro {
  width: 100%;
  height: auto;
  padding-top: 104px;
  background-color: #343a40;
}
#list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.listItem {
  width: 150px;
  margin: 0 10px 20px 10px;
  padding: 2px;
  color: rgb(117, 164, 226);
  font-size: 1.1rem;
  text-transform: capitalize;
  background-color: rgb(240, 240, 240);
  box-shadow: 4px 4px 8px rgb(71, 71, 71);
}
.listImg {
  width: 100%;
  height: auto;
}
.listP {
  background-color: rgb(4, 83, 4);
  color: rgb(210, 180, 140);
  padding: 0;
  width: 150px;
  height: 60px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.listP:hover {
  color: white;
}
#about {
  padding: 5px;
  width: 100%;
  background-image: url("/img/graySiding.jpg");
  background-size: cover;
  text-align: center;
}
.h3 {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 2.8rem;
  text-align: center;
  color: rgb(210, 180, 140);
  text-shadow: -1px -1px 0 rgb(4, 83, 4),
               1px -1px 0 rgb(4, 83, 4),
               -1px 1px 0 rgb(4, 83, 4),
               1px 1px 0 rgb(4, 83, 4);
}
.moreInfo {
  display: flex;
  background-color: rgb(245, 245, 245);
  justify-content: center;
}
.moreInfoIntro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
}
.moreInfoIntroH2 {
  color: rgb(22, 87, 29);
  font-family: 'Alegreya Sans', sans-serif;
  padding: 0 15px;
  max-width: 50%;
  font-size: 2rem;
}
.moreInfoImg {
  max-width: 50%;
}
.containerProd {
  background-image: url("/img/graySiding.jpg");
  background-size: cover;
}
.productDiv {
  margin: 0 auto;
  padding: 20px 0;
  justify-content: center;
}
.products {
  max-width: 80%;
  margin: 10px auto;
}
.quote {
  display: flex;
  justify-content: center;
  width: auto;
  margin: 0 auto;
}
@media only screen and (max-width: 840px) {
  .h3 {
    font-size: 2.2rem;
  }
  .moreInfoIntroH2 {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 440px) {
  .products {
    max-width: 100%;
  }
  .moreInfoIntroH2, .moreInfoImg {
    max-width: 100%;
    padding: 5px;
  }
  .reverse {
    flex-wrap: wrap-reverse;
  }
}