:root {
  --font-family: "Open Sans", Arial, sans-serif;
  --moreInfoHeader-color: rgb(219, 190, 157);
  --moreInfoHeader-font-size: 2rem;
  --moreInfoP-font-size: 1.25rem;
  --moreInfoP-color: rgb(240, 240, 240);
  --h3-font-size: 2.8rem;
  --col-height: auto;
  --col-min-height: 395px;
  --col-padding: inherit;
}
@media only screen and (max-width: 768px) {
  :root {
    --h3-font-size: 2.2rem;
    --col-height: calc(100vw / 2);
    --col-min-height: unset;
  }
}
@media only screen and (max-width: 440px) {
  :root {
    --moreInfoHeader-font-size: 1.5rem;
    --moreInfoP-font-size: 1rem;
    --h3-font-size: 1.75rem;
    --col-height: auto;
    --col-padding: 1.5rem 0 .75rem;
  }
}
body, html {
  box-sizing: border-box;
}
#intro {
  width: 100vw;
  height: 100vh;
  background-color: #343a40;
}
#list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.listItem {
  width: 300px;
  height: 100%;
  margin: 10px;
  border: 5px solid rgb(240, 240, 240);
  font-size: 1.1rem;
  text-transform: capitalize;
  text-decoration: none;
  background-color: rgb(240, 240, 240);
  box-shadow: 4px 4px 8px rgb(71, 71, 71);
}
.listImg {
  width: 100%;
  height: auto;
}
.listP {
  background-color: rgb(4, 83, 4);
  color: rgb(210, 180, 140);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.listItem:hover .listP {
  background-color: rgb(210, 180, 140);
  color: rgb(4, 83, 4);
}
.rightArrow {
  padding-left: 5px;
}
@keyframes moveArrow {
  0% {transform: translateX(0px);}
  50% {transform: translateX(5px);}
  100% {transform: translateX(0px);}
}
.listItem:hover .rightArrow {
  animation: moveArrow .6s;
}
.h3 {
  font-family: var(--font-family);
  font-size: var(--h3-font-size);
  text-align: center;
  color: rgb(210, 180, 140);
  text-shadow: -1px -1px 0 rgb(4, 83, 4),
               1px -1px 0 rgb(4, 83, 4),
               -1px 1px 0 rgb(4, 83, 4),
               1px 1px 0 rgb(4, 83, 4);
}
.col {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--col-height);
  min-height: var(--col-min-height);
  padding: var(--col-padding);
}
.moreInfoHeader {
  font-family: var(--font-family);
  color:var(--moreInfoHeader-color);
  font-size: var(--moreInfoHeader-font-size);
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;
}
.headerUnderline {
  width: 100px;
  height: 4px;
  background-color: var(--moreInfoHeader-color);
  margin: 0 auto;
  border-radius: 2px;
}
.moreInfoP {
  color: var(--moreInfoP-color);
  font-family: var(--font-family);
  font-size: var(--moreInfoP-font-size);
  text-align: center;
  padding: 0 2.5rem;
  margin-top: 25px;
}
.moreInfoImg {
  max-width: 50%;
}
.containerProd {
  background-size: cover;
}
.productDiv {
  margin: 0 auto;
  padding: 20px 0;
  justify-content: center;
}
.products {
  max-width: 95%;
  margin: 10px auto;
}
.quote {
  display: flex;
  justify-content: center;
  width: auto;
  margin: 0 auto;
}
#disclaimerContainer {
  display: flex;
  position: fixed;
  bottom: .75rem;
  width: 100%;
  justify-content: center;
  background-color: transparent;
  z-index: 10;
}
#disclaimer {
  position: relative;
  width: 90%;
  margin: 0 auto;
  background-color: rgb(71, 71, 71, .8);
  border-radius: 5px;
}
#disclaimer p {
  color: rgb(240, 240, 240);
  padding: 1rem 32px 0;
}
#closeDisclaimer {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.3rem;
  padding: 0 8px;
  border: none;
  border-radius: 0 5px 0 0;
  background-color: transparent;
  color: rgb(240, 240, 240);
}
#closeDisclaimer:hover, #closeDisclaimer:focus {
  background-color: black;
}
@media only screen and (max-width: 440px) {
  .products {
    max-width: 100%;
  }
}