#intro {
  width: 100%;
  height: auto;
  background-image: url("/img/lake.jpg");
  background-size: cover;
  margin: 83px auto 0 auto;
}
#list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.listItem {
  margin: 0;
  padding: 0 10px 10px 10px;
  color: black;
  font-size: 1.1rem;
  text-transform: capitalize;
}
.listItem:hover {
  color: white;
}
.noLink {
  cursor: default;
}
.noLink:hover {
  text-decoration: none;
  color: black;
}
#about {
  margin-top: 1%;
  width: 100%;
  background-color: rgb(255, 255, 255, .7);
  text-align: center;
  z-index: 3;
}
#h3 {
  margin: 0;
}
#aboutList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#about ul {
  padding: 0;
}
#about ul li {
  list-style-type: none;
  text-align: left;
}
#moreInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  background-image: url("/img/cedarPanel.jpg");
  background-size: cover;
  color: white;
  padding-bottom: 2%;
}
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 80%;
  margin: 2% auto 1% auto;
}
p {
  font-size: 1.5rem;
  margin: 2%;
}
.moreInfoImg {
  max-height: 250px;
  border-radius: 5px;
  box-shadow: 5px 5px 8px rgb(121, 85, 61);
}
@media only screen and (max-width: 840px) {
  #intro {
    flex-direction: column;
  }
  #about {
    max-width: 100%;
    margin: 1% auto 0 auto; 
  }
  .moreInfoImg {
    max-height: 200px;
    max-width: 300px;
  }
}
@media only screen and (max-width: 440px) {
  .moreInfoImg {
    max-height: auto;
    max-width: 95%;
  }
  .reverse {
    flex-wrap: wrap-reverse;
  }
  .wrap {
    flex-wrap: wrap;
  }
}