#container {
  background-image: url("/img/graySiding.jpg"); 
  background-size: cover; 
  /* padding-top: 2%; */
}
#h4 {
  text-align: center;
  /* background-color: rgba(5, 5, 5, 0.5); */
  /* color: rgb(241, 241, 241); */
  /* color: rgb(83, 83, 83);
  background-color: rgb(255, 255, 255, .5); */
  color: white;
  margin: 0;
  padding: 10px;
}
#allEquipment {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* color: white; */
  max-width: 80%;
  padding-bottom: 2%;
  margin: 0 auto 0 auto;
  justify-content: center;
}
.equipment {
  max-width: 300px;
  margin: 15px;
  background-color: rgb(240, 240, 240);
  box-shadow: 5px 5px 8px rgb(71, 71, 71);
  /* box-shadow: 5px 5px 8px rgb(121, 85, 61); */
}
.p {
  margin: 0;
}
.ul {
  margin: 5px;
  height: auto;
}
.p, .li {
  color: rgb(83, 83, 83);
}
.productImg {
  padding: 5px;
  width: 100%;
}
@media only screen and (max-width: 780px) {
  #container {
    background-size: unset;
    background-repeat: repeat;
  }
}