:root {
  --font-family: "Open Sans", Arial, sans-serif;
  --card-title-color: rgb(219, 190, 157);
  --light-text-color: rgb(240, 240, 240);
}
.cardTitle {
  font-family: var(--font-family);
  color: var(--card-title-color);
}
.cardText {
  font-family: var(--font-family);
  color: var(--light-text-color);
}