:root {
  --font-family: "Open Sans", Arial, sans-serif;
}
#facebook {
  padding: 10px 0 2% 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 500px;
  height: 550px;
  margin: auto;
}
#p {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  text-align: center;
}
#link {
  text-decoration-style: solid;
  text-decoration-line: underline;
}
@media only screen and (max-width: 440px) {
  #facebook {
    max-width: 95%;
    max-height: 70%
  }
} 