:root {
  --font-family: "Open Sans", Arial, sans-serif;
  --text-color: rgb(240, 240, 240);
}
#footer {
  background-position: center;
  background-size: cover;
}
.row {
  padding: 2rem;
}
#logo {
  margin-bottom: .75rem;
}
.h5 {
  font-family: var(--font-family);
  color: var(--text-color);
}
.underline {
  height: 2px;
  background-color: rgb(219, 190, 157);
}
.p {
  font-family: var(--font-family);
  color: var(--text-color);
  font-weight: lighter;
  font-size: .8rem;
  margin-bottom: .75rem;
}
.p a {
  text-decoration: none;
}
#phone, #facebook, #email {
  color:var(--text-color);
}
#facebook, #email {
  margin: 0 3px;
  font-size: 3rem;
}
#facebook:hover, #email:hover, #phone:hover {
  color: white;
}
@media only screen and (max-width: 440px) {
  .row {
    padding: 1.5rem 0;
  }
  #map {
    width: auto;
    margin: .75rem auto;
    justify-content: center;
  }
}