#footer {
  background-position: center;
  background-size: cover;
}
#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem 0 1rem 0;
  background-color: rgba(21, 37, 87, 0.75);
  color: rgb(221, 221, 221);
}
.section p {
  margin-bottom: 0;
  text-align: left;
  font-size: 1rem;
}
.section h5 {
  margin-top: 2%;
}
#phone {
  color: rgb(221, 221, 221);
}
#facebook, #email {
  margin: 0 3px;
  color: rgb(221, 221, 221);
  font-size: 3rem;
}
#facebook:hover, #email:hover, #phone:hover {
  color: white;
}
@media only screen and (max-width: 440px) {
  #footer {
    margin: 0 auto;
    justify-content: left;
    flex-direction: column;
  }
  .section {
    padding-left: 1.25rem;
  }
  #footer h5 {
    margin-bottom: 0;
  }
  #footer p {
    font-size: .85rem;
  }
  #map {
    width: auto;
    margin: .75rem auto;
    justify-content: center;
  }
}