:root {
  --font-family: "Open Sans", Arial, sans-serif;
  --lightText: rgb(219, 190, 157);
  --darkText: rgb(33, 37, 41);
  --darkText-muted: rgb(33, 37, 41, .7);
}
.container {
  display: flex;
  justify-content: center;
  width: auto;
  margin: 0 auto;
  margin-bottom: 2rem;
}
#button {
  font: var(--font-family);
}
#button:hover {
  color: var(--lightText);
}
#modalHeader {
  font-family: var(--font-family);
  background-color: var(--lightText);
  color: var(--darkText);
}
#modalBody {
  display: flex;
  flex-direction: column;
}
.contactLink {
  font-family: var(--font-family);
  line-height: 2rem;
  color: rgb(62, 62, 62);
  font-size: larger;
  text-decoration: none;
}
.contactLink i {
  font-size: 1.5rem;
  padding-right: .75rem;
}
.contactLink:hover {
  color: var(--darkText);
  text-decoration: underline;
  text-underline-offset: 3px;
}