#button {
  background-color: rgb(52, 122, 183);
  border: 1px solid white;
  color: white;
}
.modalContent {
  text-align: center;
}
#contactInfo {
  padding-top: 10px;
}
@media only screen and (max-width: 800px) {
  #modal {
    position: relative;
  }
  .modalContent {
    position: absolute;
    top: 20%;
  }
  #h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 440px) {
  #h2 {
    font-size: .9rem;
  }
}