.img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.h3, .p {
  font-family: "Open Sans", Arial, sans-serif;
  text-align: center;
  color: rgb(240, 240, 240);
}
.h3 {
  font-size: 3.5rem;
}
.p {
  font-size: 2rem;
}
.caption1,
.caption2,
.caption3 {
  position: absolute;
  right: 5%;
  left: 5%;
}
.caption1 {
  bottom: 35%;
}
.caption2 {
  bottom: 20%;
}
.caption3 {
  bottom: 53%;
}
@media only screen and (max-width: 440px) {
  .h3 {
    font-size: 2.5rem;
  }
  .p {
    font-size: 1.5rem;
  }
  .caption1 {
    bottom: 33%;
  }
  .caption2 {
    bottom: 25%;
  }
  .caption3 {
    bottom: 55%;
  }
}