#slideshow {
  position: relative;
  margin: 0;
}
#introSlides {
  max-width: 100%;
}
#prev, #next {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  color: rgb(255, 255, 255, .8);
  font-size: 3rem;
  margin-top: -22px;
  padding: 0 10px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
#prev:hover, #next:hover {
  background-color: rgba(0,0,0,0.8);
}
#playPause {
  position: absolute;
  font-size: 2rem;
  transition: 0.6s ease;
  border-radius: 3px;
  margin-top: -12px;
  padding: 10px;
  width: 60px;
  height: auto;
  top: 50%;
  right: calc(50% - (35px));
}
#playPause:hover {
  background-color: rgba(0,0,0,0.8);
}
#play, #pause {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgb(255, 255, 255, .8);
}
#slideDots{
  display: flex;
  flex-direction: row;
  max-width: 80%;
  margin: 0 auto;
  position: absolute;
  bottom: 5%;
  left: calc(50% - 28px);
}
.slideDot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255, .5);
  margin: 5px;
}
.activeDot {
  background-color: white;
}
