#footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1% 0 1% 0;
  background-color: rgb(83, 83, 83);
  color: rgb(221, 221, 221);
}
.section p {
  margin-bottom: 0;
  text-align: left;
  font-size: 1rem;
}
.section h5 {
  margin-top: 2%;
}
#phone {
  color: rgb(221, 221, 221);
}
#facebook, #email {
  margin: 0 3px;
  color: rgb(221, 221, 221);
  font-size: 3rem;
}
#facebook:hover, #email:hover, #phone:hover {
  color: white;
}
@media only screen and (max-width: 400px) {
  #footer, #map {
    margin: 0 auto 0 auto;
    justify-content: left;
  }
  .section {
    padding: 0 8px 0 8px;
  }
}