#footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1%;
  padding: 1% 0 1% 0;
  background-color: lightgray;
}
/* @media footer justify content flex-start
} */
#hours p, #address p, #contact p {
  margin-bottom: 0;
}
#hours h5, #address h5, #contact h5 {
  margin-top: 2%;
}
#facebook, #email {
  margin: 0 3px;
  color: rgb(34, 83, 218);
  font-size: 3rem;
}
#facebook:hover, #email:hover {
  color: rgb(34, 83, 218, .8);
}
